<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AOEClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <AOEClient.Properties.Settings>
            <setting name="WoodTag" serializeAs="String">
                <value>&lt;censored&gt;</value>
            </setting>
            <setting name="FoodTag" serializeAs="String">
                <value>medium rare please</value>
            </setting>
            <setting name="GoldTag" serializeAs="String">
                <value>give me liberty or give me coin</value>
            </setting>
            <setting name="XPTag" serializeAs="String">
                <value>nova &amp; orion</value>
            </setting>
            <setting name="DestroyBoatsTag" serializeAs="String">
                <value>shiver me timpers!</value>
            </setting>
            <setting name="RevealMapTag" serializeAs="String">
                <value>x marks the spot</value>
            </setting>
            <setting name="WinGameTag" serializeAs="String">
                <value>this is too hard</value>
            </setting>
            <setting name="MusketeeredTag" serializeAs="String">
                <value>sooo good</value>
            </setting>
            <setting name="GeorgeCrushingtonToolTip" serializeAs="String">
                <value>George Crushington</value>
            </setting>
            <setting name="GeorgeCrushington" serializeAs="String">
                <value>where's that axe?</value>
            </setting>
            <setting name="BigGun" serializeAs="String">
                <value>ya gotta make do with what ya got</value>
            </setting>
            <setting name="BigGunToolTip" serializeAs="String">
                <value>Spawns Mediocre Bombard at Home City gather point</value>
            </setting>
            <setting name="MonsterTruck" serializeAs="String">
                <value>tuck tuck tuck</value>
            </setting>
            <setting name="MonsterTruckToolTip" serializeAs="String">
                <value>Spawn The Tommynator (big red monster truck) at Home City gather point</value>
            </setting>
            <setting name="CustomItem1" serializeAs="String">
                <value>Ya gotta make do with what ya got</value>
            </setting>
            <setting name="WindowTitle" serializeAs="String">
                <value>Age of Empires III</value>
            </setting>
            <setting name="BuildRateTag" serializeAs="String">
                <value>speed always wins</value>
            </setting>
            <setting name="CustomItem1ToolTip" serializeAs="String">
                <value />
            </setting>
            <setting name="FlattenAnimals" serializeAs="String">
                <value>A recent study indicated that 100% of herdables are obese</value>
            </setting>
            <setting name="CustomItem2" serializeAs="String">
                <value>tuck tuck tuck</value>
            </setting>
            <setting name="CustomItem2Tooltip" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomItem3" serializeAs="String">
                <value>Where's that axe?</value>
            </setting>
            <setting name="CustomItem3ToolTip" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomItem4" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomItem4Tooltip" serializeAs="String">
                <value />
            </setting>
            <setting name="Exports" serializeAs="String">
                <value>a whole lot of love</value>
            </setting>
            <setting name="SuppliesAmt" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="XPAmt" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Custom1Amt" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Custom2Amt" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Custom3Amt" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Custom4Amt" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="UnImportantSections" serializeAs="String">
                <value>Destroy all Enemy Boats,Musketeered,Instant Victory,Custom2,Custom3,Custom4</value>
            </setting>
            <setting name="WindowTitleComboIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DelayedSendTime" serializeAs="String">
                <value>1000</value>
            </setting>
        </AOEClient.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
